<h6>Dashboard</h6>
<h2>Welcome to your stories, {{name}}</h2>
{{#if stories}}
  <table class="striped">
    <thead>
      <th>Title</th>
      <th>Date</th>
      <th>Status</th>
      <th></th>
    </thead>
    <tbody>
      {{#each stories}}
        <tr>
          <td><a href="/stories/{{_id}}"></a>{{title}}</td>
          <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss'}}</td>
          <td><span class="dash-status">{{status}}</span></td>
          <td></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>You have not created any stories yet!</p>
{{/if}}